# package src/pkg archives, downloaded sources
*.tar*
*.tgz
*.zip
*-LICENSE*
*-README*

# signed sources
*.asc
*.sig

# log files from makepkg --log (or extra-x86_64-build)
*.log

# backup files
*~
*.bak

# lock file
pkg.lock
